@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  line-height: 1; /* Height of the scrollbar */

}

::-webkit-scrollbar-thumb {
  background-color: #e11d48; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */

}
